.tooltip {
    width: 80px;
    height: 20px;
    background-color: green;
    position: absolute;
    text-align: center;
}

.tooltip__visible {
    visibility: initial;
}

.my-node-enter {
    opacity: 0;
  }
  .my-node-enter-active {
    opacity: 1;
    transition: opacity 500ms;
  }
  .my-node-exit {
    opacity: 1;
    transition: opacity 500ms;
  }
  .my-node-exit-active {
    opacity: 0;
    transition: opacity 500ms;
  }