.modal-content {
    position: fixed;
    width: 300px;
    height: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    z-index: 2000;
    background-color: white;
    overflow-y: scroll;
}



.my-nodef-enter {
    opacity: 0;
  }
  .my-nodef-enter-active {
    opacity: 1;
  }
  .my-nodef-exit {
    opacity: 1;
  }
  .my-nodef-exit-active {
    opacity: 0;
  }